$primary: #181c14;
$secondary: #3c3d37;
* {
  transition: all 0.2s;
}
.dt-buttons {
  display: none !important;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@import "node_modules/bootstrap/scss/bootstrap";
